<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Vue.js&reg; demo</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="index.css">
<script async defer src="dist/build.js"></script>
</head>
<body>
<img id="logo" alt="Logo" src="logo.svg"/><hr/>
<div id="app">
	<div v-if="error" class="error">Error: {{ error }}</div>
	<div v-if="grant.login">Hello {{ grant.login }}!</div>
	<div v-if="products.length > 0" id="products">
		<table>
			<tbody>
				<tr v-for="product in products">
					<td>
						<img alt="Picture" :src="'data:image/png;base64,' + product.demoPrdPicture.thumbnail"/>
					</td>
					<td>
						<div class="name">{{ product.demoPrdName }}</div>
						<div class="reference">{{ product.demoPrdReference }}</div>
						<div class="description">{{ product.demoPrdDescription }}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<hr/>
<div>&copy; Simplicit&eacute; Software, powered by <a href="https://vuejs.org" target="_blank">Vue.js</a></div>
</body>
</html>
